body{
    margin:0;
    padding:0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #FFF;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #ece7d5;
}

section.module.lindex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

section.module.lindex:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgrgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgrgba(0,0,0,0) 40%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgrgba(0,0,0,0) 40%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgrgba(0,0,0,0) 40%, #000 100%);
}

h3{
    text-align: center;
}

.organizando{
    display: flex;
}

.Hbutão img{
    margin-right: 35px;
    width: 0.75em;
    height: 0.75em;
}


.Gbutão img{
    width: 0.75em;
    height: 0.75em;
}

section.module.lindex{
    background-image: url(https://halliday48.github.io/Imagens/Logo%20Laboratorios.png);
}

section.module.lindex-1{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%201.png);
}

section.module.lindex-2{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%202.jpg);
}

section.module.lindex-3{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%203.jpeg);
}

section.module.lindex-4{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%204.png);
}

section.module.lindex-5{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%205.jpg);
}

section.module.lindex-6{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%206.png);
}

section.module.lindex-7{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%207.jpg);
}

section.module.lindex-8{
    background-image: url(https://halliday48.github.io/Imagens/Laboratorio%208.png);
}

section.module.lindex-9{
    background-image: url(https://ichi.pro/assets/images/max/724/1*ZHtyZlpaUtzjZLpApfr6mA.jpeg);
}

section.module.lindex h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

section.module.lindex-1 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-2 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-3 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-4 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-5 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-6 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-7 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

section.module.lindex-8 h1,a{
    color: #000;
    text-align: center;
    font-size: 50px;
    z-index: 50;
}

.butão img{
    width: 25%;
    height:25%;
}