body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gui {
    margin-top:10px;
    font-size: 20px;
    text-align: center;
}

.gui__turn {
    text-transform: uppercase;
}

.board_column {
    display: flex;
    margin-bottom: 10px;
}

.board_cell {
    position: relative;
    background-color: #6c6c6c;
    color: #fff;
    height: 90px;
    width: 90px;
    margin: 2px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
}

.btn {
    background-color: #6c6c6c;
    color: 18px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}